<h1> Welcome to my BLogBlog</h1>


<% @posts.each do |post| %>

  <h2><%= link_to  post.title %></h2>
  <p>
    <%= time_ago_in_words post.created_at %> ago
  </p>
    <p>
  <%= truncate post.text %>
</p>

  <% end %>

  <p>
    <%= link_to "New post", new_post_path %>
  </p>
  <p>
  </p>
  <p>
  </p>



<div style="position: relative;background-color: blue; width: 60px; height: 30px;">    

    <div style="position: absolute; bottom: 5px; background-color: green">
      <a href="http://www.freedomain.co.nr/" target="_blank" title="Free Domain Name"><img src="http://ormumma.imdrv.net/but1.gif" width="88" height="31" border="0" alt="Free Domain Name" /></a>
    
    </div>
</div>